<!-- public/index.html -->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
</head>

<body>
    <h1>Bem-vindo ao <%=nome %> - by Cuba.dev</h1>
    <h2>Em breve, o melhor app para gerenciamento de jogos #chupaLudopedia</h2>
</body>

</html>