<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
</head>

<body>

    <h2>Editar Registro</h2>
    <% mecanica.forEach(function(details) { %>
    <form action="/mecanica/edit/<%= details._id %>" method="POST">
        <input type="text" value="<%= details.nome %>" name="nome">
        <br />
        <button type="submit">Salvar</button>
        <br />
        <br />
        <button><a href="/mecanica/show">Voltar para a listagem</a></button>
    </form>
    <% }) %>

</body>

</html>