<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Domínio</title>
</head>

<body>

    <h2>Editar Registro</h2>
    <% dominio.forEach(function(details) { %>
    <form action="/dominio/edit/<%= details._id %>" method="POST">
        <input type="text" value="<%= details.desc %>" name="desc">
        <br />
        <button><a href="/dominio/show">Todos</a></button>
        <button type="submit">Editar</button>
    </form>
    <% }) %>

</body>

</html>