<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meu CRUD em NodeJS</title>
</head>

<body>

    <h2>Registrar<h2>
            <form action="/show" method="POST">
                <input type="text" placeholder="Descrição" name="desc">
                <button type="submit">Cadastrar</button>
            </form>

</body>

</html>